* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #242424;
  --light-black-color: #242424cc;
  --beige-color: #f0f0eb;
  --primary-color: #eb5e38;
  --border-color: #bbb;
}

.m-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.modal-open {
  overflow: unset !important;
  padding-right: unset !important;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #242424;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242424;
  font-family: Jost, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0;
}

:root {
  --black-color: #242424;
  --light-black-color: #242424cc;
  --beige-color: #f0f0eb;
}

.m-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.modal-open {
  overflow: unset !important;
  padding-right: unset !important;
}

.file-preview {
  border-radius: 0;
  border: 1px solid var(--border-color);
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 48px;
  .fileinput-remove {
    top: 4px;
    right: 4px;
    width: 8px;
    height: 8px;
  }
}

.file-caption-name {
  border-radius: 0;
}

.btn-file {
  border-radius: 0;
  background-color: orange;
  color: #242424;
  &:hover {
    background-color: var(--primary-color);
  }
  border: 1px solid orange;
}

// pagination
.page-link {
  border: none;
}
.active > .page-link,
.page-link.active {
  background-color: orange;
  border-color: #ccc;
  &:focus {
    outline: none;
  }
}

.page-link:not(.active):hover {
  color: var(--primary-color);
}

.page-link:focus {
  box-shadow: none;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
