* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #242424;
  --light-black-color: #242424cc;
  --beige-color: #f0f0eb;
  --primary-color: #eb5e38;
  --border-color: #bbb;
}

.m-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.modal-open {
  overflow: unset !important;
  padding-right: unset !important;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #242424;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242424;
  font-family: Jost, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0;
}

:root {
  --black-color: #242424;
  --light-black-color: #242424cc;
  --beige-color: #f0f0eb;
}

.m-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.modal-open {
  overflow: unset !important;
  padding-right: unset !important;
}

.file-preview {
  border-radius: 0;
  border: 1px solid var(--border-color);
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 48px;
  .fileinput-remove {
    top: 4px;
    right: 4px;
    width: 8px;
    height: 8px;
  }
}

.file-caption-name {
  border-radius: 0;
}

.btn-file {
  border-radius: 0;
  background-color: orange;
  color: #242424;
  &:hover {
    background-color: var(--primary-color);
  }
  border: 1px solid orange;
}

// pagination
.page-link {
  border: none;
}
.active > .page-link,
.page-link.active {
  background-color: orange;
  border-color: #ccc;
  &:focus {
    outline: none;
  }
}

.page-link:not(.active):hover {
  color: var(--primary-color);
}

.page-link:focus {
  box-shadow: none;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

// Back to top button
.back-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  background: var(--gray-dark, #242424);
  & i {
    text-align: center;
    line-height: 50px;
    font-size: calc(var(--font-size-heading, 30px) - 7px);
    cursor: pointer;
    display: block;
    color: #fff;
    &:hover {
      background-color: var(--primary-color);
    }
  }
  &.button-show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

// Date picker
.input-group-append {
  cursor: pointer;
}

// Xử lí chữ quá dài

.ellipsis-custom-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis-custom-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-custom-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-custom-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-custom-10 {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Scroll y - version 1

.scroll-bar-custom-1::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scroll-bar-custom-1::-webkit-scrollbar-track {
  // box-shadow: white;
  background-color: white;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.156);
}

/* Handle */
.scroll-bar-custom-1::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Handle on hover */
.scroll-bar-custom-1::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

// Scroll y - version 2

.scroll-bar-custom-2::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scroll-bar-custom-2::-webkit-scrollbar-track {
  // box-shadow: white;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.156);
}

/* Handle */
.scroll-bar-custom-2::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Handle on hover */
.scroll-bar-custom-2::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
