.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  left: 0;
  justify-content: flex-end;
  background-color: #0000005d;
  visibility: hidden;
  transition: all 0.2s;
  &.enable {
    visibility: visible;
    .cart-slider {
      transform: translateX(0);
    }
  }
  .cart-slider {
    background-color: #fff;
    position: relative;
    padding: 30px;
    width: 500px;
    transform: translateX(100%);
    transition: all 0.5s;
    .cart-heading {
      margin-top: 20px;
    }
    .cart-close-btn {
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        color: #eb5e38;
      }
    }
    .product-list {
      max-height: calc(160px * 3);
      overflow-y: auto;
      overflow-x: hidden;
      .product-item {
        margin-top: 30px;
      }
    }
    .product-title {
      font-size: 16px;
      color: #242424;
      font-family: Lora, serif;
      font-weight: 500;
      &:hover {
        color: #eb5e38;
      }
    }
    .product-price {
      color: #eb5e38;
      font-size: 15px;
      font-weight: 500;
      margin-top: 8px;
    }
    .product-quantity {
      font-size: 14px;
      border: 1px solid #242424;
      width: 93px;
      height: 30px;
      margin-right: 0;
      display: inline-flex;
      input {
        border: none;
        border-left: 1px solid #242424;
        border-right: 1px solid #242424;
      }
    }
    .product-remove-btn {
      font-size: 12px;
      margin-left: 8px;
      &:hover {
        color: #eb5e38;
        cursor: pointer;
      }
    }
    .product-total {
      margin-top: 10px;
      padding: 15px 0;
      border-top: 1px solid #242424;
      border-bottom: 1px solid #242424;
      font-size: 16px;
      font-weight: 500;
      color: #242424;
      span:last-child {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .cart-checkout-btn {
      width: 50%;
      background-color: #242424;
      color: #fff;
      font-size: 14px;
      padding: 20px 30px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      &:before {
        content: "";
        width: 100%;
        height: 0%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #eb5e38;
        transition: all 0.3s;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
      &:hover::before {
        height: 100%;
      }
    }
  }
}
