.nav-underline .nav-link {
    position: relative;
    padding-bottom: 5px;
    flex-grow: 1;
    text-align: center;
  }

  .nav-underline .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Adjust the thickness of the underline */
    background-color: #000000; /* Change the color of the underline */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .nav-underline .nav-link:hover::before,
  .nav-underline .nav-link:focus::before {
    transform: scaleX(1);
  }

  a:hover{
    color: black;
  }
  .container{
    padding-top: 100px;
    padding-bottom: 150px;
    font-family: Jost,sans-serif;
  }

  .btn{
    border: 1px solid black;
    width: 200px;
    border-radius: 0px;
    transition: font-size 0.3s, color 0.3s; /* Add smooth transition effect */
    background-color: rgb(0, 0, 0);color: white;
  }

  


.btn:hover {
    color: rgb(255, 255, 255); /* Change color on hover */
    background-color:rgb(255, 130, 14) ;
    border: none;
}

.btn:active {
    color: darkred; /* Change color when clicked */
}
a {
    transition: font-size 0.3s, color 0.3s, text-decoration 0.3s; /* Add smooth transition effect */
    color: black;
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 130, 14); /* Change color on hover */
    text-decoration: none;
}

a:active {
    color: darkred; /* Change color when clicked */
}