.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.box {
  box-sizing: border-box;
  padding: 20px;
}

.box1 {
  width: 35%;
}

.box2 {
  width: 25%;
}

.box3,
.box4 {
  width: 20%;
}
.icon {
  font-size: 17px; /* Set initial size */
  transition: font-size 0.3s, color 0.3s; /* Add smooth transition effect */
}

.icon:hover {
  color: var(--primary-color); /* Change color on hover */
}

.icon:active {
  color: var(--primary-color); /* Change color when clicked */
}

.footer-link {
  font-weight: 400px;
  font-size: 15px;
  line-height: 30px;
  &:hover {
    color: var(--primary-color);
  }
}
