.container {
  position: relative;
  margin-left: 20px;
  /* Add other styling for your container if needed */
}

.fa-chevron-down {
  font-size: 12px;
  transition: all 0.3s;
  &.active {
    transform: rotate(180deg);
  }
}

.additional-checkboxes {
  display: none;
  margin-top: 10px;
}

.additional-checkboxes {
  display: none;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.additional-checkboxes.active {
  display: block;
  opacity: 1;
}
.form-group {
  padding-top: 5px;
}

.slider {
  width: 50%;
}
.noUi-handle {
  border-radius: 100%;
  border: 1px solid black;
}

.noUi-handle:before,
.noUi-handle:after {
  border-radius: 50%;
  border: 1px solid rgb(136, 136, 136);
}

.form-check-label {
  font-size: 16px;
}
