.navigation {
  background-color: #f5f5f5;
  color: #242424;
  font-family: Jost;
  font-size: 15px;
  grid-area: auto;
  line-height: 25.5px;
  margin: 0px 0px 60px;
  padding: 20px 30px;
  text-align: left;
  .navigation-link {
    color: #242424;
    display: list-item;
    font-family: Jost;
    font-size: 15px;
    grid-area: auto;
    line-height: 25.5px;
    padding: 10px 0px;
    text-align: left;
    &.active {
      a {
        color: var(--primary-color);
      }
    }
    a {
      color: black;
      font-family: Jost;
      font-size: 16px;
      font-weight: 500;
      // &:active {
      //   color: blue;
      // }
    }
  }

  .shop-permis {
    display: none;
  }
}
