.container {
  margin: 0 auto;
}
.shop-page {
  .img-cover {
    background-image: url("/src/assets/img/bg-shop.jpeg");
    height: 300px;
    .title-heading {
      color: #242424;
      font-size: 35px;
      grid-area: auto;
      line-height: 32.3px;
      text-align: center;
      font-family: Lora;
    }
  }

  .product-section {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
