.product-details {
  padding-top: 220px;
  margin-bottom: 32px;

  .title {
    color: #242424;
    font-size: 15px;
    grid-area: auto;
    line-height: 25.5px;
    margin: 0px 0px 32px;
    text-align: center;
    font-family: Lora;
    font-size: 34px;
  }
}
