.woocommerce-ordering {
  display: flex;
  justify-content: flex-end;
  .dropdown-toggle {
    align-items: center;
    color: #363636;
    box-shadow: inset 0 0 2px 0 #242424;
    display: inline-flex;
    font-size: 15px;
    grid-area: auto;
    justify-content: space-between;
    line-height: 40px;
    padding: 0px 15px;
    text-align: right;
    text-transform: capitalize;
    cursor: pointer;
    &::after {
      margin-left: 20px;
    }
    &:hover {
      background-color: var(--primary-color);
      border: none;
      color: #fff;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    right: 1%;
    padding: 8px;
    font-size: 16px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.3);
    border-radius: unset;
    li {
      a {
        color: #242424;

        &:active {
          color: blue;
        }
      }
    }
  }

  .dropdown-menu.show {
    display: block !important;
  }
}

.no-show {
  display: none;
}
