
.order-section{

  .each-order:not(:first-child){
    margin-top: 24px;
  }

  .order-code{
    border: 1px solid var(--gray-dark, #242424);
    padding: 4px 12px;
  }
  
  .order-table {
    width: 100%;
    th {
      color: #242424;
      display: table-cell;
      font-weight: 500;
      grid-area: auto;
      line-height: 27.2px;
      padding: 15px;
      text-align: left;
    }
  
    th:not(:first-child),
    td:not(:first-child) {
      text-align: center;
    }
  
    .product-quantity {
      display: flex;
      align-items: center;
      height: 230px;
    }
  
    .product-subtotal {
      padding-bottom: 28px;
    }
  
    td {
      color: #242424;
      display: table-cell;
      font-size: 16px;
      grid-area: auto;
      line-height: 25.5px;
      padding: 15px;
      text-align: left;
  
      .product-cart-info {
        color: #242424;
        display: flex;
        font-size: 16px;
        grid-area: auto;
        line-height: 25.5px;
        text-align: left;
  
        img {
          color: #242424;
          display: inline;
          font-size: 16px;
          grid-area: auto;
          line-height: 25.5px;
          text-align: left;
          height: 200px;
          width: 150px;
          aspect-ratio: auto 500/700;
        }
  
        .product-name {
          color: #242424;
          font-size: 16px;
          grid-area: auto;
          line-height: 25.5px;
          margin: 0px 0px 0px 15px;
          text-align: left;
        }
      }
  
      .quantity {
        display: flex;
        margin: 0 auto;
        .number {
          align-items: flex-start;
          background-color: #ffffff;
          color: #242424;
          font-family: Jost;
          font-size: 16px;
          grid-area: auto;
          width: 40px;
          height: 40px;
          text-align: center;
          padding: 8px;
        }
      }
    }
  }
}