.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
  border-bottom: 1px solid #ddd9d0;
  .nav-list {
    display: flex;
    &:first-child {
      .nav-link span {
        position: relative;
        padding: 0 10px;
        &::before {
          content: "";
          height: 1px;
          width: 0;
          background-color: #eb5e38;
          position: absolute;
          bottom: -14px;
          visibility: hidden;
          transition: all 0.4s ease;
          left: 50%;
        }
      }
      .nav-link:hover {
        span::before {
          visibility: visible;
          left: 0;
          width: 100%;
        }
      }
    }
    .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    .nav-link {
      &:link,
      &:visited {
        padding: 4px 20px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
        color: #242424;
        .up-icon::before,
        .down-icon::before {
          font-size: 16px;
          margin-left: 8px;
        }
        .up-icon {
          display: none;
        }
      }

      &:hover,
      &:active {
        color: #eb5e38;
        .up-icon {
          display: block;
        }
        .down-icon {
          display: none;
        }
      }
      &::before {
        content: "";
        width: 100%;
        height: 60px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .sub-nav-container {
      position: relative;
      .sub-nav {
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 20px;
        min-width: 200px;
        box-shadow: 0 0 10px #24242411;
        padding: 10px 20px;
        transform: translateY(25px);
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        transition: all 0.2s linear;
        .nav-link {
          font-size: 16px;
          font-weight: 400;
          padding: 8px;
        }
      }
      &:hover .sub-nav {
        visibility: visible;
        opacity: 1;
        transform: translateY(11px);
      }
    }
  }
}
